#theme_list_cont
{
    td:first-child
    {
        img
        {
            width: auto;
            height: auto;

            max-width: 100%;
            max-height: 140px;

            display: block;
            margin-bottom: 6px;
        }
    }
    
}