#admin_header
{
	background:#23282d;
	height:32px;
	position:fixed;
	left:0;
	top:0;
	right:0;
	z-index:5000;
	z-index:102;
	color:white;
	overflow:hidden;

	&>div
	{
		height:32px; 
		padding:1px 4px;
		overflow: hidden;;

		span,img
		{
			vertical-align:middle
		}
	}
	
	.has_sub_content
	{
		display:inline-block;

		&:hover
		{
			background:#414a53;
		}
		
		.sub_content
		{
			display:none;
			min-width:175px;
			position:fixed;
			background:#414a53;
			padding:5px;
			
			&.left{left: 0;}
			&.right{right: 0;}
			
			a
			{
				display: block;
				color:rgb(221, 221, 221);
			}
		}

		&:hover
		{
			.sub_content
			{
				display: block;
			}
		}
	}
}